<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Help</title>

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />

        <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
        <script src="/public/js/utils.js"></script>

        <style>
            html,
            body {
                height: 100%;
                width: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body class="container-fluid">
        <div class="row h-100">
            <aside class="col-3 p-3">
                <ul class="list-group" id="room-list"></ul>
            </aside>
            <main class="col-9 d-flex flex-column p-3">
                <div id="chat" class="d-flex flex-column gap-3" style="overflow-y: scroll; max-height: 88vh"></div>
                <form id="send-message" class="mt-auto">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="message" placeholder="Message" />
                        <button class="btn btn-outline-secondary" type="submit">Send</button>
                    </div>
                </form>
            </main>
        </div>
        <script>
            const CLIENT_ROLE_ID = 5;
            let user = sessionStorage.getItem("user");
            let role = sessionStorage.getItem("role");
            let room = sessionStorage.getItem("room");
            const socket = io();

            socket.on("roomCreated", function ({ room_id, user_id, role_id }) {
                sessionStorage.setItem("room", room_id);
                sessionStorage.setItem("user", user_id);
                sessionStorage.setItem("role", role_id);
                user = user_id;
                role = role_id;
                room = room_id;
            });

            socket.on("listRooms", function (rooms) {
                const list = document.getElementById("room-list");

                if (rooms.length === 0) {
                    list.innerHTML = "Sin chats";
                    return;
                }
                list.innerHTML = "";
                rooms.forEach((room_id, index) => {
                    const li = document.createElement("li");
                    li.innerText = `Usuario Anonimo ${index + 1}`;
                    li.className = "list-group-item";
                    li.setAttribute("room", room_id);
                    list.appendChild(li);
                });
            });

            socket.on("getMessage", function (message) {
                const chat = document.querySelector("#chat");
                if (message.user.user_id === user) {
                    return;
                }

                const baloon = document.createElement("div");
                baloon.className = "d-flex justify-content-start";
                baloon.setAttribute("data-toggle", "tooltip");
                baloon.setAttribute("title", message.message_date.toString());
                baloon.innerHTML = `<span class="border p-2">${message.message_text}</span>`;
                chat.append(baloon);
                chat.scrollTo(0, chat.scrollHeight);
            });

            socket.on("getMessages", function (messages = []) {
                messages.forEach((message) => {
                    const chat = document.querySelector("#chat");

                    const baloon = document.createElement("div");
                    baloon.className = `d-flex justify-content-${message.user.user_id === user ? "end" : "start"}`;
                    baloon.setAttribute("data-toggle", "tooltip");
                    baloon.setAttribute("title", message.message_date.toString());
                    baloon.innerHTML = `<span class="border p-2">${message.message_text}</span>`;
                    chat.append(baloon);
                });
            });

            document.querySelector("#room-list").addEventListener("click", function (e) {
                const li = e.target;
                const room_id = li.getAttribute("room");
                room = room_id;
                li.className += " active";
                socket.emit("join", room_id);
            });

            document.querySelector("#send-message").addEventListener("submit", function (e) {
                e.preventDefault();
                const messageInput = e.target.querySelector("[name=message]");
                const message = messageInput.value;
                const chat = document.querySelector("#chat");

                const baloon = document.createElement("div");
                baloon.className = "d-flex justify-content-end";
                baloon.setAttribute("data-toggle", "tooltip");
                baloon.setAttribute("title", new Date().toString());
                baloon.innerHTML = `<span class="border p-2">${message}</span>`;
                chat.append(baloon);
                chat.scrollTo(0, chat.scrollHeight);
                messageInput.value = "";

                socket.emit("sendMessage", {
                    message: {
                        message_text: message,
                        message_date: new Date(),
                        user: {
                            user_id: user,
                            user_role_id: role,
                        },
                    },
                    room_id: room,
                });
            });

            if (!role || role == CLIENT_ROLE_ID) {
                if (!room) {
                    socket.emit("createRoom");
                }
            } else {
                socket.emit("support", role);
                socket.emit("listRooms", { role_id: role });
            }
        </script>
    </body>
</html>
